params.test_root = System.getenv('FRANKONTSTEIN_TEST_ROOT') ?: launchDir.toString()
params.images = [preprocess:'unused-in-local-test']
process {
    executor = 'local'
    cpus = 1
    memory = '1 GB'
    beforeScript = "export PATH='${params.test_root}/bin':\$PATH"
}
docker.enabled = false
apptainer.enabled = false
