process {
    withName: CLAIR3 {
        containerOptions = { params.clair3_gpu.toString().toBoolean() ? (workflow.profile.tokenize(',').contains('apptainer') ? '--nv' : (workflow.profile.tokenize(',').contains('docker') ? '--gpus all' : '')) : '' }
    }
    withName: CLASSY_COMBINED { container = params.images.classy }
    withName: BCFTOOLS_MPILEUP {
        container = params.images.bcftools
        ext.args = '-Ob --min-BQ 0'
    }
    withName: BCFTOOLS_CALL {
        container = params.images.bcftools
        ext.args = '-mv -Oz'
    }
    withName: CLAIRS_TO_CALL { container = params.images.clairsto }
    withName: SNIFFLES_CALL { container = params.images.sniffles }
    withName: SEVERUS_TUMOR_UNPHASED { container = params.images.severus }
    withName: STELLERATOR { container = params.images.stellerator }
    withName: QDNASEQ_CALL { container = params.images.qdnaseq }
    withName: HMMCOPY_WIG { container = params.images.ichorcna }
}
