plugins { id 'nf-amazon@3.4.2' }
process {
    withName: CLAIR3 {
        accelerator = { params.clair3_gpu.toString().toBoolean() ? 1 : null }
        queue = { params.clair3_gpu.toString().toBoolean() ? params.aws_gpu_queue : params.aws_queue }
    }
    executor = 'awsbatch'
    queue = params.aws_queue
}
aws {
    region = params.aws_region
    batch.jobRole = params.aws_job_role
    batch.cliPath = params.aws_cli_path
    batch.logsGroup = params.aws_logs_group
}
docker.enabled = true
