process {
    withName: CLAIR3 {
        queue = { params.clair3_gpu && params.gpu_queue ? params.gpu_queue : params.slurm_queue }
        clusterOptions = { (params.slurm_account ? "--account=${params.slurm_account} " : '') + (params.clair3_gpu ? '--gres=gpu:1' : '') }
    }
    executor = 'slurm'
    queue = params.slurm_queue
    clusterOptions = params.slurm_account ? "--account=${params.slurm_account}" : ''
}
