process {
    withName: DORADO_BASECALL {
        queue = params.gpu_queue
        clusterOptions = { (params.slurm_account ? "--account=${params.slurm_account} " : '') + '--gres=gpu:1' }
    }
    withName: CLAIR3 {
        queue = { (params.clair3_gpu.toString() == 'auto' ? !!params.gpu_queue : params.clair3_gpu.toString().toBoolean()) && params.gpu_queue ? params.gpu_queue : params.slurm_queue }
        clusterOptions = { (params.slurm_account ? "--account=${params.slurm_account} " : '') + ((params.clair3_gpu.toString() == 'auto' ? !!params.gpu_queue : params.clair3_gpu.toString().toBoolean()) ? '--gres=gpu:1' : '') }
    }
    withName: DEEPSOMATIC {
        queue = { (params.deepsomatic_gpu.toString() == 'auto' ? !!params.gpu_queue : params.deepsomatic_gpu.toString().toBoolean()) && params.gpu_queue ? params.gpu_queue : params.slurm_queue }
        clusterOptions = { (params.slurm_account ? "--account=${params.slurm_account} " : '') + ((params.deepsomatic_gpu.toString() == 'auto' ? !!params.gpu_queue : params.deepsomatic_gpu.toString().toBoolean()) ? '--gres=gpu:1' : '') }
    }
    withName: CLAIRS_TO_CALL {
        queue = { (params.clairsto_gpu.toString() == 'auto' ? !!params.gpu_queue : params.clairsto_gpu.toString().toBoolean()) && params.gpu_queue ? params.gpu_queue : params.slurm_queue }
        clusterOptions = { (params.slurm_account ? "--account=${params.slurm_account} " : '') + ((params.clairsto_gpu.toString() == 'auto' ? !!params.gpu_queue : params.clairsto_gpu.toString().toBoolean()) ? '--gres=gpu:1' : '') }
    }
    executor = 'slurm'
    queue = params.slurm_queue
    clusterOptions = params.slurm_account ? "--account=${params.slurm_account}" : ''
}
